@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import "common/styles/reset-styles.scss";

:root {
  --appFontSize: 18px;
  --headerHeigth: 4em;
  --mainLayoutPadding: 1.55em;

  --borderRadius-700: 1.35em;
  --borderRadius-300: .55em;

  --gap-lg: 1.55em;
  --gap-700: 1.1em;
  --gap-600: 1em;
  --gap-300: .55em;

  --font-size-large: 1.45em;
  --font-size-regular: 1em;
  --font-size-small: .8em;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: var(--appFontSize);
}


body {
  overflow-x: hidden;
}

#root {
  height: 100%;
}